.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px
}

.wrapper button {
    padding: 10px 20px;
    background: #44FFD1;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.accordian {
    width: 500px;
}

.item {
    background: #DBCFB0;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title {
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color: #2c2a2a;
    height: auto;
}
